:root {
  --font-family: ui-sans-serif, system-ui, -apple-system, "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif;
  --bg: #f8f8f8;
  --fg: #0e0e0e;
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  background-color: var(--bg);
  font-family: var(--font-family);
  line-height: 1.5;
}
body {
  background-color: var(--bg);
  color: var(--fg);
  line-height: inherit;
  margin: 0;
}
